
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 40px;
}
td, th{
    border: 1px solid black;
    text-align: center;
    margin: 20px;
    padding: 10px;
}

table{
    margin-top: 30px;
    border-collapse: collapse;
}