* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.item{
    border: 2px solid black;
    font-size: 20px;
    color: white;

    background-color: black;
    text-align: center;
    line-height: 45px;

}
.wrapper{
    height: 100vh;
    display: grid;
    
    align-content: center;
    justify-content: center;
    
}
.container{
    display: grid;
    grid-template: repeat(4,80px)/ repeat(9,80px);
    gap: 2px;
    background-color: black;
}

.item-1,
.item-2,
.item-4,
.item-9,
.item-10,
.item-24,
.item-28{
    border: 3px solid yellow;
    color: yellow;
}
.item-3{
    grid-column: 3/ span 4;
}
.item-5,
.item-6,
.item-7,
.item-8,
.item-11,
.item-12,
.item-13,
.item-14,
.item-15,
.item-16,
.item-17,
.item-18,
.item-19,
.item-20,
.item-21,
.item-22,
.item-23,
.item-25,
.item-26,
.item-27,
.item-29,
.item-30,
.item-31{
    border: 3px solid blue;
    color: blue;
}
