@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-template-columns: 30% 70% ;
    grid-template-rows: 100px 1fr 100px;
   /* line-height: 5; */
}
header {
    background-color:rgb(87, 168, 168);
    grid-column: 1/span 2;
    display: flex;
    justify-content: center;
    align-items: center;
 
    color: white
;
}
nav{
    background-color: rgb(72, 242, 242);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}
nav ul{
    list-style-type: none;
    font-size: 30px;
    
}
main{
    background-color: aquamarine;

}
.wrapper{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 60%;
    /* height: 100%; */
    display: grid;
    grid-template-columns: 200px 1fr 200px ;
    grid-template-rows: 50px 1fr 50px;
}
.img{
    background-image: url(./1.jpg);
grid-column: 1/ span 2;
grid-row: 1/span 3;
border-radius: 10px;
object-fit: cover;
}
.text{
    grid-column: 2 /span 2;
    grid-row: 2;
    background-color:#F4EAD5;
    padding: 40px;
    z-index: 2;
    border-radius: 10px;
    /* box-shadow: 15px 15px lightgrey; */
}

button{
    margin: 10px auto;
    padding: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(87, 168, 168);
    border-radius: 5px;
    border: 0;
    /* font-weight: bold; */
    color: white;
    cursor: pointer;
}

footer{
    background-color: rgb(87, 168, 168);
    grid-column: 1/span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: white;
}